:root {
    --button: #03318C;
    --background: #4d2775;
    --background2: rgb(44, 44, 44);
    --background-color:#1a1a1a;
    --text-color:#eee;
    --border-radius: 1.875rem;
    --main-color: #0ef;
    --bg-color: #1f242d;
    --second-bg-color: #323946;
}